{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foods</title>
    <link href="{% static 'Yummy/bootstrap.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="{% static 'Yummy/styles.css' %}" />
</head>
<body data-page="menu">
  <div class="wrapper">
    <header>
      <a href="{% url 'index' %}" class="logo"><i class="fas fa-utensils"></i>Yummy</a>
  <nav class="menu">
      <a href="{% url 'index' %}">Home</a>
      <a href="{% url 'dishes' %}">Dishes</a>
      <a href="{% url 'about' %}">About</a>
      <a class="active" href="#">Menu</a>
      <a href="{% url 'review' %}">Review</a>
      <a href="{% url 'order' %}">Order</a>
  </nav>

  <div class="icons">
      <i class="fas fa-bars" id="bars"></i>
      <a href="#" id="triggerModal" class="fas fa-heart"></a>
      <a href="#" class="fas fa-shopping-cart"></a>
  </div>
  
    </header>
    <main class="main">
      <div class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Favorite</h5>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
              <button
                type="button"
                class="modal-close btns"
                data-dismiss="modal"
              >
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
      <section class="menu" id="menu">
          <h1 class="heading"> today's speciality </h1>
          <div class="box-container" id="wrapper-products">
      </section>
    </main>
    <footer class="footer">

        <div class="box-container">

            <div class="box">
                <h3>locations</h3>
                <a href="#">india</a>
                <a href="#">japan</a>
                <a href="#">ukraine</a>
                <a href="#">USA</a>
                <a href="#">france</a>
            </div>

            <div class="box">
                <h3>quick links</h3>
                <a href="{% url 'index' %}">home</a>
                <a href="{% url 'dishes' %}">dishes</a>
                <a href="{% url 'about' %}">about</a>
                <a href="#">menu</a>
                <a href="{% url 'review' %}">review</a>
                <a href="{% url 'review' %}">order</a>
            </div>

            <div class="box">
                <h3>contact info</h3>
                <a href="#">+999-999-9999</a>
                <a href="#">+111-111-1111</a>
                <a href="#">tastyfood@gmail.com</a>
                <a href="#">orderfood@gmail.com</a>
            </div>

            <div class="box">
                <h3>follow us</h3>
                <a href="#">facebook</a>
                <a href="#">twitter</a>
                <a href="#">instagram</a>
                <a href="#">linkedin</a>
            </div>
        </div>
    </footer>
  </div> 
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script src="{% static 'Yummy/script.js' %}"></script>
</body>
</html>